<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space X</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1 style="font-family:arial">
            Enter SpaceX and other fields for relevent info: eg. company,history,launches or dragons
        </h1>
        <hr>
        <h2>
            <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
            </div>
        </h2>
    </main>
    <script src="index.js"></script>
  </body>
</html>

